# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Any Gerber
Hardware/*
!Hardware/*.sch
!Hardware/*.brd

# All of MPLAB junk
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
Firmware/KIO_WUT.X/html/
Firmware/KIO_WUT.X/html/nbproject/private/
Firmware/KIO_WUT.X/html/nbproject/Package-*.bash
Firmware/KIO_WUT.X/html/build/
Firmware/KIO_WUT.X/html/nbbuild/
Firmware/KIO_WUT.X/html/dist/
Firmware/KIO_WUT.X/html/nbdist/
Firmware/KIO_WUT.X/html/nbactions.xml
Firmware/KIO_WUT.X/html/nb-configuration.xml
Firmware/KIO_WUT.X/html/funclist
Firmware/KIO_WUT.X/html/nbproject/Makefile-*
Firmware/KIO_WUT.X/html/disassembly/
*.map

